<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Processing</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="icon" type="image/x-icon" href="/static/Goku.jpg">
</head>
<body>
    <h1>Payment Processing!</h1>
    <p>Thank you for doing business with us.</p>
    <p>If you did not get a confirmation message, repeat the payment process.</p>
    <p>If the problem persists, contact us.</p><br>
    <button id="homepage-btn"><a id="home-link" href="http://127.0.0.1:5000">Back to Homepage</a></button>
</body>
</html>
